# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
.venv/
.env/

# Uploads and carved files (from your app)
uploads/
carved_files/
decrypted_files/

# IDE / Editor specific
.vscode/
.idea/
*.swp
*.swo

# Optional dependencies
/common_passwords.txt